.burger-button {
  @include reset-button;
  @include square(40px);

  position: relative;

  @include hover {
    background-color: var(--hover-color);
    border-radius: var(--border-radius-small);
    cursor: pointer;
  }

  &::after {
    @include abs-center;

    content: "";
    width: 50%;
    height: 2px;
    background-color: var(--light-gray-color);
    border-radius: 5px;

    box-shadow: 0 -8px var(--light-gray-color), 0 8px var(--light-gray-color);
  }
}