@import "../variables";

.header {
  padding: 30px 20px;

  @include mobile {
    padding-top: 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-color);
    border-radius: var(--border-radius-large);
  }

  &__menu {
    font-size: 20px;

    &-list {
      display: flex;
      gap: 20px;
      list-style: none;
    }
  }
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  justify-self: center;
}


