@import "../mixins", "../_variables";

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &-title {
      @include fluid-text(48, 24);
      font-weight: 600;
    }

    &-description {
      color: var(--light-gray-color);
      @include fluid-text(18, 12);
    }
  }

  &__partner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;

    &-dropbox {
      display: flex;
      justify-content: center;
      align-items: center;
      min-block-size: 100px;
      border: var(--border-dashed);
      border-radius: var(--border-radius-small);

      &-text {
        font-size: 18px;
        text-align: center;
        color: var(--light-gray-color);
      }
    }

    &__pic-upload {
      display: flex;
      justify-content: center;
    }
  }
}
