:root {
  --primary-color: #28152a;
  --section-color: #222947;
  --accent-color: #2b3c8b;
  --hover-color: #5a1c61;
  --dark-gray-color: #303030;
  --light-gray-color: #949494;
  --white-color: #FFFFFF;

  --border: 1px solid var(--light-gray-color);
  --border-radius-small: 8px;
  --border-radius-large: 16px;

  --shadow: 2px 4px 4px black;

  --font-family-base: 'Signika Negative', sans-serif;

  --container-width: 1140px;
  --container-padding-x: 20px;
  --container-padding-y: 1em;

  --section-padding-y: 40px;
}