@import "./_globals", "./_variables", "./_mixins", "./_utils", "./_media";
@import "./blocks/_burger-button", "./blocks/_header", "./blocks/_cross-button", "./blocks/_mobile-overlay";

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: var(--font-family-base);
  color: var(--white-color);
  background-color: var(--primary-color);
}

.main {
  min-block-size: 200px;
  background-color: var(--section-color);
}

.footer {
  margin-top: auto;
  min-block-size: 40px;
  background-color: var(--section-color);
}